code1
{
	background: #73bcec;
	color: #fff;
	font-family: verdana;
	font-size: 2rem;
	border: 2px solid #060bfa;
	display: block;
	text-align: center;

}

section
{
	float: left;
	width: 30%;
	height: 400px ;
	border: 2px solid #060bfa;
	border-radius: 6px;
	

}

header, section
{
	margin: 0 1.5% 24px 1.5%
}
footer
{
	clear: both;
}

p1 
{
	font-family: "Gill Sans", sans-serif;

}

p2
{
	 font-family: cursive;
}

.h1{
	background: blue;
}

.h2{
	background: red;
}