div{
	border: 3px solid red;
	border-radius: 6px;
}
.a1{border: 3px solid green;
background: pink;
border-radius:10px;
text-align:justify;
margin: 1em;
padding: 1em}

.a2{border: 3px solid green;
border-radius:10px;
text-align:justify;
margin: 1em;
padding: 1em}